# Cổng chạy server local
PORT=3000

# Đường dẫn kết nối cơ sở dữ liệu MongoDB
# Khi chạy thật trên VPS hoặc MongoDB Atlas thì thay thế link này bằng link bảo mật của bạn
MONGO_URI=mongodb://127.0.0.1:27017/techmart

# Các khóa bí mật khác nếu có (Ví dụ: JWT_SECRET, PAYMENT_API_KEY...)
# JWT_SECRET=your_jwt_secret_key_here
